@use '../../styles/variables' as v;

.app-button {
  width: 230px;
  height: 40px;
  padding: 0 32px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  line-height: 100%;
   

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &--primary {
    background-color: v.$color-primary;
    color: v.$color-white;
    border: 1px solid transparent;
    

    &:hover:not(:disabled) {
      background-color: v.$color-primary-dark;
      box-shadow: 0 4px 12px rgba(v.$color-primary, 0.2);
    }
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid v.$border-danger;
    color: v.$text-danger;

    &:hover:not(:disabled) {
      background-color: #FEF2F2;
      border-color: v.$text-danger;
    }
  }
}
