@use '../../styles/variables' as v;

.fridge-item {
  background-color: v.$color-white;
  
  // Visual Card Style
  border: 1px solid rgba(0,0,0,0.02);
  border-radius: 12px;
  padding: 16px 24px;
  margin-bottom: 12px;
  
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  // Hover Effect for the whole row
  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-color: v.$color-primary; // Highlights border blue on hover
    transform: translateY(-1px);
  }

  &__title {
    color: v.$text-dark;
  }

  &__delete-btn {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.2s;
    padding: 8px;
    border-radius: 50%;

    &:hover {
      opacity: 1;
      background-color: v.$bg-danger-light; // Light red background
    }
  }
}