@use './styles/variables' as v;

.app-title {
  // Figma Exact Typography
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -0.03em; // -3% is -0.03em in CSS
  
  // Use variable for color (Professional)
  color: v.$text-title; 
  margin-top: 45px;
}

.app-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: v.$text-subtitle;
  margin-top: -20px;

}

.loading-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: v.$text-loading;
  
  
}