@use '../../styles/variables' as v;

.item-form-card {
  background-color: v.$color-white;
   height: auto; 
  min-height: 170px;
  border-radius: v.$radius-card;
  box-shadow: 0px 6px 24px rgba(0, 72, 115, 0.1);
  border: 1px solid #E3E9F1;
  padding: 32px 40px;
  margin-top: 60px;

  &__label {
    font-family: 'Inter', sans-serif;
    line-height: 100%;
    font-size: 14px;
    font-weight: 600;
    color: v.$text-gray;
    display: flex;
    align-items: center;
    gap: 6px;
    letter-spacing: -0.03em;
    
  }

  &__input {
    width: 290px;
    height: 40px;
    border: 2px solid v.$border-light;
    border-radius: v.$radius-input;
    padding: 0 16px;
    font-size: 14px;
    color: v.$text-dark;
    outline: none;
    transition: all 0.2s;

    &::placeholder {
      color: v.$text-placeholder;
    }

    &:focus {
      border-color: v.$color-primary;
      box-shadow: 0 0 0 3px rgba(v.$color-primary, 0.1);
    }
  }

  &__warning {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0em;
    color: v.$text-subtitle;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

