@use '../../styles/variables' as v;

.item-form-card {
  background-color: v.$color-white;

  border-radius: v.$radius-card;
  box-shadow: 0px 6px 24px rgba(0, 72, 115, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.02);
  padding: 32px 40px;
  margin-top: 40px;

  &__label {
    font-size: 12px;
    font-weight: 700;
    color: v.$text-gray;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__input {
    height: 48px;
    border: 1px solid v.$border-light;
    border-radius: v.$radius-input;
    padding: 0 16px;
    font-size: 14px;
    color: v.$text-dark;
    outline: none;
    transition: all 0.2s;

    &::placeholder {
      color: v.$text-placeholder;
    }

    &:focus {
      border-color: v.$color-primary;
      box-shadow: 0 0 0 3px rgba(v.$color-primary, 0.1);
    }
  }

  &__warning {
    font-size: 11px;
    color: v.$text-light;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
